@import "_lg-grid";
.video{
    height: 400px;
    margin-top: 80px;
}
.video-js{
    width: 100% !important;
    height: 100% !important;
}
.video-contenedor{
    @include flexbox;
    flex-direction: column;
}
.botones{
    @include flexbox;
    width: 90%;
    a{
        @include flexbox;
        padding: 10px 20px;
        font-size: 20px;
        border: 1px solid $color-primario;
        margin: 5px;
        border-radius: 10px;
        background: $color-primario;
        color: white;
        box-shadow: 0px 5px 11px -5px rgba(0,0,0,0.75);
        &:active{
            padding: 8px 18px;
        }
    }
}