doctype html
html(lang="es")
    head 
        title Animes En Español
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        include ../meta-keywords-gx
        link(rel="stylesheet", href="../css/menu.css")
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/footer.css")
        link(rel="stylesheet", href="../css/plantilla-capitulos.css")
        
        link(rel="stylesheet",href="https://file.myfontastic.com/whw7pA3v7r2cTPtVDYrKxS/icons.css")                
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:400,800")
        
        script(src="https://code.jquery.com/jquery-1.11.3.min.js")
        
        link(href="http://vjs.zencdn.net/6.2.0/video-js.css",rel="stylesheet")
    include ../menu
    body
        h2.titulo Temporada 1: YuGiOh-GX Capítulo 32
        include ../anuncios.pug
        .video-contenedor.largo
            .video.distancia
                video#my-video.video-js(controls,preload="auto",width="100%", heigth="100%",data-setup="{}")
                 source(src="//content.jwplatform.com/videos/Ab1Pb6AZ.mp4?sig=89aa90ca8fe32ffdf64073c1524b788d&exp=1501373451 /preview.mp4", type="video/mp4")
            .botones
                a(href="yugiohGX-capitulo-031.html").icon-chevron-izquierda
                a(href="../serie-yugioh-gx.html").icon-contenido
                a(href=" yugiohGX-capitulo-033.html").icon-chevron-derecha
        script(src="http://vjs.zencdn.net/6.2.0/video.js")
        script(src="../js/menu.js")
    include ../footer 
