doctype html
html(lang="es")
    head 
        title Animes En Español
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        include ../meta-keywords-yugioh
        link(rel="stylesheet", href="../css/menu.css")
        link(rel="stylesheet", href="../css/estilos.css")
        link(rel="stylesheet", href="../css/footer.css")
        link(rel="stylesheet", href="../css/plantilla-capitulos.css")
        
        link(rel="stylesheet",href="https://file.myfontastic.com/whw7pA3v7r2cTPtVDYrKxS/icons.css")                
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:400,800")
        
        script(src="https://code.jquery.com/jquery-1.11.3.min.js")
        
        link(href="http://vjs.zencdn.net/6.2.0/video-js.css",rel="stylesheet")
    include ../menu
    body
        h2.titulo YuGiOh Capítulo 140
        include ../anuncios.pug
        .video-contenedor.largo
            .video.distancia
                video#my-video.video-js(controls,preload="auto",width="100%", heigth="100%",data-setup="{}")
                 source(src="//content.jwplatform.com/videos/vqDYQ3SC.mp4?sig=c5a44d298c30440aac27f6fcbb7da02f&exp=1501477593//content.jwplatform.com/videos/vqDYQ3SC.mp4?sig=c5a44d298c30440aac27f6fcbb7da02f&exp=1501477593/preview.mp4", type="video/mp4")
            .botones
                a(href="yugioh-capitulo-139.html").icon-chevron-izquierda
                a(href="../serie-yugioh.html").icon-contenido
                a(href="yugioh-capitulo-141.html").icon-chevron-derecha
        script(src="http://vjs.zencdn.net/6.2.0/video.js")
        script(src="../js/menu.js")
    include ../footer 
