.contenido-contenedor.largo
    .contenido.distancia
        .contenido-izquierda
            h2.titulo Animes Del Mes
            .animes-mes
                img(src="imagenes/pokemon/portada.jpg")
                h2 Pokemon
                p Ash Ketchum es un chico a quien le gusta mucho los pokémon y las batallas. Su pasión por los pokémon, ha logrado proponerse el objetivo de convertirse en Maestro Pokémon, el más alto grado de entrenamiento Pokémon, motivo por el cual comienza un viaje en búsqueda de este título. Al cumplir 10 años, Ash tiene la oportunidad de recibir su pokémon inicial por parte del Profesor Oak. Desafortunadamente, se quedó dormido una noche antes de su primer día de viaje y para cuando llegó al laboratorio del profesor, todos los Pokémon iniciales.
                a(href="#") Ver Serie
        .contenido-derecha
            h2.titulo Series
            .contenido-series
                a.contenido(href="serie-naruto.html")
                    img(src="imagenes/naruto/portada.jpg")
                    .contenido-absolute
                        h3 Naruto
                        h3 Completo
                a.contenido(href="serie-yugioh-gx.html")
                    img(src="imagenes/yu-gi-oh-gx/Yugiohgx.jpg")
                    .contenido-absolute
                        h3 Yu-Gi-Oh GX
                        h3 Completo
                a.contenido(href="serie-yugioh.html")
                    img(src="imagenes/yu-gi-oh/Yugi-Oh.jpg")
                    .contenido-absolute
                        h3 Yu-Gi-Oh 
                        h3 Completo
                a.contenido(href="serie-super-campeones.html")
                    img(src="imagenes/super-campeones/portada.jpg")
                    .contenido-absolute
                        h3 Super Campeones
                        h3 Completo
                a.contenido(href="serie-pokemon")
                    img(src="imagenes/pokemon/portada.jpg")
                    .contenido-absolute
                        h3 Pokemón
                        h3 Completo
            include boletin
                        