.lista-contenedor.largo
    .lista.distancia
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-001.html").lista-capitulos 01. El Próximo Rey de los Juegos
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-002.html").lista-capitulos 02. Bienvenido a la Academia de Duelos
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-003.html").lista-capitulos 03. Un Duelo de Amor
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-004.html").lista-capitulos 04. Anhelo de Duelo
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-005.html").lista-capitulos 05. El Duelista Oscuro - Parte 1
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-006.html").lista-capitulos 06. El Duelista Oscuro - Parte 2
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-007.html").lista-capitulos 07. Duelo y Castigo Excepcional
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-008.html").lista-capitulos 08. Por el Bien de Syrus
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-009.html").lista-capitulos 09. Asunto Familiar
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-010.html").lista-capitulos 10. Un Duelo Decisivo - Parte 1
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-011.html").lista-capitulos 11. Un Duelo Decisivo - Parte 2
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-012.html").lista-capitulos 12. La Fórmula del Éxito
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-013.html").lista-capitulos 13. El Duelo del Simio
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-014.html").lista-capitulos 14. Un Espíritu Invocado 
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-015.html").lista-capitulos 15. Un Duelo por Alexis
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-016.html").lista-capitulos 16. El Duelista Gigante
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-017.html").lista-capitulos 17. El Valor de Elegir
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-018.html").lista-capitulos 18. El Rey de Los Imitadores - Parte 1
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-019.html").lista-capitulos 19. El Rey de Los Imitadores - Parte 2
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-020.html").lista-capitulos 20. La Doncella Enamorada
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-021.html").lista-capitulos 21. El Duelo Incómodo - Parte 1
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-022.html").lista-capitulos 22. El Duelo Incómodo - Parte 2
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-023.html").lista-capitulos 23. El Pequeño Belowski
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-024.html").lista-capitulos 24. El Nuevo Chazz
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-025.html").lista-capitulos 25. El Interescolar - Parte 1
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-026.html").lista-capitulos 26. El Interescolar - Parte 2
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-027.html").lista-capitulos 27. Peligro en la Cripta - Parte 1
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-028.html").lista-capitulos 28. Peligro en la Cripta - Parte 2
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-029.html").lista-capitulos 29. Duelo del Apocalipsis - Parte 1
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-030.html").lista-capitulos 30. Duelo del Apocalipsis - Parte 2
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-031.html").lista-capitulos 31. El Campo del Terror - Parte 1
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-032.html").lista-capitulos 32. El Campo del Terror - Parte 2
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-033.html").lista-capitulos 33. El Campo del Terror - Parte 3
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-034.html").lista-capitulos 34. El Factor Miedo
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-035.html").lista-capitulos 35. Rivalidad entre Hermanos
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-036.html").lista-capitulos 36. Hasta que el Duelo nos Separe - Parte 1
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-037.html").lista-capitulos 37. Hasta que el Duelo nos Separe - Parte 2
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-038.html").lista-capitulos 38. Duelo en las Profundidades
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-039.html").lista-capitulos 39. Los Escorpiones Oscuros
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-040.html").lista-capitulos 40. Una Leyenda Viviente
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-041.html").lista-capitulos 41. Una Razón para Ganar
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-042.html").lista-capitulos 42. El Día del Espíritu de Los Monstruos 
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-043.html").lista-capitulos 43. Corazones Violentos
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-044.html").lista-capitulos 44. El Séptimo Jinete de La Sombra
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-045.html").lista-capitulos 45. El Juego de Amnael - Parte 1
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-046.html").lista-capitulos 46. El Juego de Amnael - Parte 2
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-047.html").lista-capitulos 47. Chazz-Anova
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-048.html").lista-capitulos 48. El Despertar de Las Bestias Sagradas - Parte 1
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-049.html").lista-capitulos 49. El Despertar de Las Bestias Sagradas - Parte 2
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-050.html").lista-capitulos 50. Graduación
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-051.html").lista-capitulos 51. Duelo de Graduación - Parte 1
        a(href="yu-gi-oh-gx/yugiohGX-capitulo-052.html").lista-capitulos 52. Duelo de Graduación - Parte 2