.lista-contenedor.largo
    .lista.distancia
        a(href="naruto/naruto-capitulo-001.html").lista-capitulos 1 ¡Entra! Uzumaki Naruto
        a(href="naruto/naruto-capitulo-002.html").lista-capitulos 2 Yo soy Konohamaru
        a(href="naruto/naruto-capitulo-003.html").lista-capitulos 3 ¿Un Rival? Sasuke y Sakura
        a(href="naruto/naruto-capitulo-004.html").lista-capitulos 4 ¡La Prueba! Entrenamiento de supervivencia.
        a(href="naruto/naruto-capitulo-005.html").lista-capitulos 5 ¿Fallo? La decisión de Kakashi
        a(href="naruto/naruto-capitulo-006.html").lista-capitulos 6 ¡Misión Importante! Hacia el país de la Ola
        a(href="naruto/naruto-capitulo-007.html").lista-capitulos 7 El asesino de la Niebla
        a(href="naruto/naruto-capitulo-008.html").lista-capitulos 8 La determinación que le debo al dolor
        a(href="naruto/naruto-capitulo-009.html").lista-capitulos 9 Kakashi utiliza el Sharingan
        a(href="naruto/naruto-capitulo-010.html").lista-capitulos 10 El bosque de Chakra
        a(href="naruto/naruto-capitulo-011.html").lista-capitulos 11 El país donde existió un héroe
        a(href="naruto/naruto-capitulo-012.html").lista-capitulos 12 Batalla decisiva en el puente. Zabuza vuelve
        a(href="naruto/naruto-capitulo-013.html").lista-capitulos 13 La tecniva maestra de Haku. El espejo de cristales de hielo
        a(href="naruto/naruto-capitulo-014.html").lista-capitulos 14 ¡El numero uno en sorprender a la gente, Naruto se une a la batalla!
        a(href="naruto/naruto-capitulo-015.html").lista-capitulos 15 La batalla con visibilidad cero, la destruccion del Sharingan
        a(href="naruto/naruto-capitulo-016.html").lista-capitulos 16 El sello que ha sido liberado
        a(href="naruto/naruto-capitulo-017.html").lista-capitulos 17 El pasado blanco. Los sentimientos secretos
        a(href="naruto/naruto-capitulo-018.html").lista-capitulos 18 Una herramienta conocida como un ninja
        a(href="naruto/naruto-capitulo-019.html").lista-capitulos 19 Zabuza se dispersa en la nieve...
        a(href="naruto/naruto-capitulo-020.html").lista-capitulos 20 ¡Comienza el siguiente capitulo! Es el examen de Chuunin
        a(href="naruto/naruto-capitulo-021.html").lista-capitulos 21 ¡Identificaos! ¡Los formidables enemigos que han aparecido!
        a(href="naruto/naruto-capitulo-022.html").lista-capitulos 22 ¡Energia, 120 por ciento! ¡Un moderno y duro reto!
        a(href="naruto/naruto-capitulo-023.html").lista-capitulos 23 ¡Derrota a los rivales! Los 9 novatos se reúnen
        a(href="naruto/naruto-capitulo-024.html").lista-capitulos 24 Ya he suspendido. El extremadamente dificil primer examen
        a(href="naruto/naruto-capitulo-025.html").lista-capitulos 25 ¡La improvisación! La decima Pregunta que debemos contestar
        a(href="naruto/naruto-capitulo-026.html").lista-capitulos 26 Comienza el segundo examen, todos a tu alrededor son enemigos(I)
        a(href="naruto/naruto-capitulo-027.html").lista-capitulos 27 Comienza el segundo examen, todos a tu alrededor son enemigos(II)
        a(href="naruto/naruto-capitulo-028.html").lista-capitulos 28 Comer o ser comidos. Naruto se convierte en cebo
        a(href="naruto/naruto-capitulo-029.html").lista-capitulos 29 Naruto contraataca, no voy a huir
        a(href="naruto/naruto-capitulo-030.html").lista-capitulos 30 Revive Sharingam. Tecnica final del dragon de fuego
        a(href="naruto/naruto-capitulo-031.html").lista-capitulos 31 Super cejas platonica. Te protegere hasta la muerte
        a(href="naruto/naruto-capitulo-032.html").lista-capitulos 32 Sakura florece
        a(href="naruto/naruto-capitulo-033.html").lista-capitulos 33 ¡Ino Shika Chou! La formacion definitiva Ino Shika Chou
        a(href="naruto/naruto-capitulo-034.html").lista-capitulos 34 Akamaru sorprendido. La habilidad excepcional de Gaara
        a(href="naruto/naruto-capitulo-035.html").lista-capitulos 35 Absolutamente ni un vistazo. El secreto del pergamino
        a(href="naruto/naruto-capitulo-036.html").lista-capitulos 36 La proxima vez combate de Replicacin. Yo soy el Prota
        a(href="naruto/naruto-capitulo-037.html").lista-capitulos 37 Todos estamos aqui, los nueve novatos
        a(href="naruto/naruto-capitulo-038.html").lista-capitulos 38 Aquellos que aprueban son reducidos a la mitad
        a(href="naruto/naruto-capitulo-039.html").lista-capitulos 39 Supercejas esta celoso. El golpe del Leon ha nacido
        a(href="naruto/naruto-capitulo-040.html").lista-capitulos 40 Un combate a muerte subita. Kakashi Vs Oroshimaru
        a(href="naruto/naruto-capitulo-041.html").lista-capitulos 41 Choque de rivales. Los corazones de las chicas se endurecen
        a(href="naruto/naruto-capitulo-042.html").lista-capitulos 42 Maldita sea. La mejor batalla
        a(href="naruto/naruto-capitulo-043.html").lista-capitulos 43 Shikamaru asombrado. Combate apasionante entre mujeres ninja
        a(href="naruto/naruto-capitulo-044.html").lista-capitulos 44 Akamaru se une a la lucha. Quien sera el que pierda
        a(href="naruto/naruto-capitulo-045.html").lista-capitulos 45 ¡Hinata se ruboriza! La multitud queda boquiabierta. El as en la manga de Naruto
        a(href="naruto/naruto-capitulo-046.html").lista-capitulos 46 El combate de los ojos blancos. ¡La gran decision de la timida Hinata!
        a(href="naruto/naruto-capitulo-047.html").lista-capitulos 47 Frente a la persona que mas admiro
        a(href="naruto/naruto-capitulo-048.html").lista-capitulos 48 ¡Gaara es destrozado! ¡Es la juventud! ¡Es el poder! ¡Es la explosion!
        a(href="naruto/naruto-capitulo-049.html").lista-capitulos 49 ¡Perdedor temperamental! Por fin liberada, ¡la tecnica prohibida!
        a(href="naruto/naruto-capitulo-050.html").lista-capitulos 50 ¡Ah, Rock Lee! ¡¡Asi es como debe ser un hombre!!
        a(href="naruto/naruto-capitulo-051.html").lista-capitulos 51 La sombra que se agita en la oscuridad. ¡El peligro se acerca a Sasuke!
        a(href="naruto/naruto-capitulo-052.html").lista-capitulos 52 ¡Ebisu vuelve! ¡No permitire la desverguenza!
        a(href="naruto/naruto-capitulo-053.html").lista-capitulos 53 ¡Proximamente! ¡Llega el ermitaño pervertido!
        a(href="naruto/naruto-capitulo-054.html").lista-capitulos 54 Enseñada directamente por el Ermitaño Pervertido, ¡¡Es la Tecnica de Invocacion!!
        a(href="naruto/naruto-capitulo-055.html").lista-capitulos 55 Sentimiendo Doloroso, la Flor con un Deseo en ella
        a(href="naruto/naruto-capitulo-056.html").lista-capitulos 56 ¡¿Vida o muerte?! ¡Dominar el Movimiento es arriesgar la Vida!
        a(href="naruto/naruto-capitulo-057.html").lista-capitulos 57 ¡Volo! ¡Salto! ¡Buceo! ¡Llega Gamabunta!
        a(href="naruto/naruto-capitulo-058.html").lista-capitulos 58 ¡La mano del Mal actua cerca! La habitacion del hospital es el objetivo
        a(href="naruto/naruto-capitulo-059.html").lista-capitulos 59 Furioso, persecusion, sprint. ¡Comienzan los combates principales
        a(href="naruto/naruto-capitulo-060.html").lista-capitulos 60 ¡Byakugan vs Kage Bunshin! ¡Los combates principales comienzan! ¡Yo ganare!
        a(href="naruto/naruto-capitulo-061.html").lista-capitulos 61 ¡Ningun punto debil! La otra defensa absoluta
        a(href="naruto/naruto-capitulo-062.html").lista-capitulos 62 ¡El poder del perdedor!
        a(href="naruto/naruto-capitulo-063.html").lista-capitulos 63 ¡¿Descalificado?! ¡Peligro! ¡Avanzando en la tabla! ¡El torneo principal con problemas!
        a(href="naruto/naruto-capitulo-064.html").lista-capitulos 64 Las nubes son bonitas... El chico sin interes
        a(href="naruto/naruto-capitulo-065.html").lista-capitulos 65 ¡Enfrentamiento! El momento en el Konoha baila y la Arena se retuerce
        a(href="naruto/naruto-capitulo-066.html").lista-capitulos 66 Sasuke en estado puro
        a(href="naruto/naruto-capitulo-067.html").lista-capitulos 67 ¡No llegue tarde sin razon! Movimiento Final, Chidori
        a(href="naruto/naruto-capitulo-068.html").lista-capitulos 68 ¡La destruccion de Konoha comienza!
        a(href="naruto/naruto-capitulo-069.html").lista-capitulos 69 ¡Estaba esperandolo! ¡¡Una mision de rango A!!
        a(href="naruto/naruto-capitulo-070.html").lista-capitulos 70 El cobarde nº 1 ¡¡Es problematico, pero tengo que hacerlo!!
        a(href="naruto/naruto-capitulo-071.html").lista-capitulos 71 ¡Absolutamente incomparable! ¡Una batalla de nivel hokage!
        a(href="naruto/naruto-capitulo-072.html").lista-capitulos 72 El error del Hokage. La verdadera faz bajo la mascara
        a(href="naruto/naruto-capitulo-073.html").lista-capitulos 73 ¡La tecnica prohibida suprema! Shiki Fuujin
        a(href="naruto/naruto-capitulo-074.html").lista-capitulos 74 ¡Sorpresa! La verdadera identidad de Gaara
        a(href="naruto/naruto-capitulo-075.html").lista-capitulos 75 Superando el limite... ¡La decision de Sasuke!
        a(href="naruto/naruto-capitulo-076.html").lista-capitulos 76 Asesino bajo la luz de la luna
        a(href="naruto/naruto-capitulo-077.html").lista-capitulos 77 Luz y oscuridad. El nombre de Gaara
        a(href="naruto/naruto-capitulo-078.html").lista-capitulos 78 ¡Explosion! ¡Estas son las cronicas ninja de Naruto!
        a(href="naruto/naruto-capitulo-079.html").lista-capitulos 79 ¡Sobrepasando el limite! Luz y oscuridad
        a(href="naruto/naruto-capitulo-080.html").lista-capitulos 80 Hasta siempre, Tercero
        a(href="naruto/naruto-capitulo-081.html").lista-capitulos 81 El retorno de la niebla de la mañana
        a(href="naruto/naruto-capitulo-082.html").lista-capitulos 82 ¡¡Sharingan vs. Sharingan!!
        a(href="naruto/naruto-capitulo-083.html").lista-capitulos 83 ¡Ohh, NO...! Problema de Jiraiya con las mujeres, problema para Naruto
        a(href="naruto/naruto-capitulo-084.html").lista-capitulos 84 El chidori gruñe. ¡Sasuke ruge!
        a(href="naruto/naruto-capitulo-085.html").lista-capitulos 85 Estupido hermano pequeño. ¡Odia y aborrece!
        a(href="naruto/naruto-capitulo-086.html").lista-capitulos 86 El entrenamiento comienza. ¡Prometo que me hare más fuerte!
        a(href="naruto/naruto-capitulo-087.html").lista-capitulos 87 ¡¡¡Fuerza de voluntad!!! ¡¡Explota, globo de agua!!
        a(href="naruto/naruto-capitulo-088.html").lista-capitulos 88 La marca de Konoha y el protector
        a(href="naruto/naruto-capitulo-089.html").lista-capitulos 89 Onda
        a(href="naruto/naruto-capitulo-090.html").lista-capitulos 90 ¡La furia explota! No te saldras con la tuya
        a(href="naruto/naruto-capitulo-091.html").lista-capitulos 91 La herencia del Primero, el collar que llama a la muerte
        a(href="naruto/naruto-capitulo-092.html").lista-capitulos 92 ¡Si o No! La respuesta de Tsunade
        a(href="naruto/naruto-capitulo-093.html").lista-capitulos 93 ¡Se rompen las negociaciones!
        a(href="naruto/naruto-capitulo-094.html").lista-capitulos 94 ¡Toma! ¡Rasengan de furia!
        a(href="naruto/naruto-capitulo-095.html").lista-capitulos 95 ¡La quinta Hokage! ¡Una vida sacrificada por la lucha!
        a(href="naruto/naruto-capitulo-096.html").lista-capitulos 96 ¡Batalla de tres!
        a(href="naruto/naruto-capitulo-097.html").lista-capitulos 97 La experiencia de Naruto con las aguas termales!
        a(href="naruto/naruto-capitulo-098.html").lista-capitulos 98 Dejar de ser ninja. La noticia de Tsunade.
        a(href="naruto/naruto-capitulo-099.html").lista-capitulos 99 El que hereda la voluntad del fuego.
        a(href="naruto/naruto-capitulo-010.html").lista-capitulos 100 El vínculo entre el temperamental profesor y su alumna.
        a(href="naruto/naruto-capitulo-101.html").lista-capitulos 101 Quiero ver, conocer y confirmar. La cara de Kakashi-sensei.
        a(href="naruto/naruto-capitulo-102.html").lista-capitulos 102 ¡Una nueva misión! ¡Protege la justicia, los corazones humanos y el país del Té!
        a(href="naruto/naruto-capitulo-103.html").lista-capitulos 103 ¡¿Naruto hundido?! El Gran Océano con un complot enrevesado.
        a(href="naruto/naruto-capitulo-104.html").lista-capitulos 104 ¡Corre, Idate! La tormentosa isla de Nagi llena de problemas.
        a(href="naruto/naruto-capitulo-105.html").lista-capitulos 105 ¡Casi en la meta! Una atronadora gran batalla.
        a(href="naruto/naruto-capitulo-106.html").lista-capitulos 106 ¿Llegará Idate-san? La última muestra de persistencia.
        a(href="naruto/naruto-capitulo-107.html").lista-capitulos 107 ¡Quiero pelear contigo! ¡Finalmente se enfrenta, Sasuke contra Naruto!
        a(href="naruto/naruto-capitulo-108.html").lista-capitulos 108 Grieta invisible.
        a(href="naruto/naruto-capitulo-109.html").lista-capitulos 109 La invitación del sonido.
        a(href="naruto/naruto-capitulo-110.html").lista-capitulos 110 11. Los cinco de Konoha más uno! ¡La fuerza especial. La formación invencible en acción!
        a(href="naruto/naruto-capitulo-112.html").lista-capitulos 112 ¡¿Los miembros se pelean?! El equipo de Shikamaru en problemas
        a(href="naruto/naruto-capitulo-113.html").lista-capitulos 113 ¡Poder al máximo! ¡Chouji arde!
        a(href="naruto/naruto-capitulo-114.html").lista-capitulos 114 Adiós Amigo…Yo confió en ti.
        a(href="naruto/naruto-capitulo-115.html").lista-capitulos 115 ¡Yo soy tu oponente!.
        a(href="naruto/naruto-capitulo-116.html").lista-capitulos 116 ¡Batalla Ardiente de un tío genial!.
        a(href="naruto/naruto-capitulo-117.html").lista-capitulos 117 El Ninja genio da lo mejor de si.
        a(href="naruto/naruto-capitulo-118.html").lista-capitulos 118 Recuperar
        a(href="naruto/naruto-capitulo-119.html").lista-capitulos 119 ¡Error! Un nuevo enemigo.
        a(href="naruto/naruto-capitulo-120.html").lista-capitulos 120 ¡Ruge! ¡Aúlla! ¡El enfrentamiento definitivo!.
        a(href="naruto/naruto-capitulo-121.html").lista-capitulos 121 La Lucha de Todos.
        a(href="naruto/naruto-capitulo-122.html").lista-capitulos 122 ¡Fingir! Shikamaru lo arriesga todo para salir de una situación desesperada.
        a(href="naruto/naruto-capitulo-123.html").lista-capitulos 123 ¡La bestia verde de Konoha ataca!.
        a(href="naruto/naruto-capitulo-124.html").lista-capitulos 124 ¡La bestia explota! ¡Estallar, Golpear y Arrollar!.
        a(href="naruto/naruto-capitulo-125.html").lista-capitulos 125 La nación aliada de Konoha, los ninjas de la Arena.
        a(href="naruto/naruto-capitulo-126.html").lista-capitulos 126 ¡La pelea de Titanes! ¡Gaara Vs Kimimaro!.
        a(href="naruto/naruto-capitulo-127.html").lista-capitulos 127 ¡Espera Sasuke, detente!.
        a(href="naruto/naruto-capitulo-128.html").lista-capitulos 128 ¡Tras haber alcanzado a Sasuke, el gran evento!.
        a(href="naruto/naruto-capitulo-129.html").lista-capitulos 129 Itachi y Sasuke, una existencia distante.
        a(href="naruto/naruto-capitulo-130.html").lista-capitulos 130 Padre e hijo: El emblema de la familia roto.
        a(href="naruto/naruto-capitulo-131.html").lista-capitulos 131 ¡El descubrimientos! ¡El secreto del Mangekyo Sharingan!.
        a(href="naruto/naruto-capitulo-132.html").lista-capitulos 132 ¡Amigos!.
        a(href="naruto/naruto-capitulo-133.html").lista-capitulos 133 ¡Eres mi amigo! ¡El grito de las lágrimas!.
        a(href="naruto/naruto-capitulo-134.html").lista-capitulos 134 El final, la lluvia de lágrimas.
        a(href="naruto/naruto-capitulo-135.html").lista-capitulos 135 La promesa incumplida.
        a(href="naruto/naruto-capitulo-136.html").lista-capitulos 136 ¡¿Misión de incógnito?! ¡La ultima misión de clase S!.
        a(href="naruto/naruto-capitulo-137.html").lista-capitulos 137 Cuidad de renegados
        a(href="naruto/naruto-capitulo-138.html").lista-capitulos 138 La promesa traicionada
        a(href="naruto/naruto-capitulo-139.html").lista-capitulos 139 ¡Terror! El castillo de Orichimaru.
        a(href="naruto/naruto-capitulo-140.html").lista-capitulos 140 Dos latidos, la trampa de Kabuto.
        a(href="naruto/naruto-capitulo-141.html").lista-capitulos 141 La determinación de Sakura.
        a(href="naruto/naruto-capitulo-142.html").lista-capitulos 142 El trio diabolico en las instalaciones de alta seguridad.
        a(href="naruto/naruto-capitulo-143.html").lista-capitulos 143 ¡Corre Ton
        a(href="naruto/naruto-capitulo-144.html").lista-capitulos 144 La nueva creación el hombre de tres células.
        a(href="naruto/naruto-capitulo-145.html").lista-capitulos 145 ¡Explosión! ¡La nueva formación! ¡Ino-Shika-Chou!.
        a(href="naruto/naruto-capitulo-146.html").lista-capitulos 146 Sueños abandonados, la sombra de Orichimaru.
        a(href="naruto/naruto-capitulo-147.html").lista-capitulos 147 Confrontando el destino ¡nunca me derrotaras!. (1)
        a(href="naruto/naruto-capitulo-148.html").lista-capitulos 148 Confrontando el destino ¡nunca me derrotaras!. (2)
        a(href="naruto/naruto-capitulo-149.html").lista-capitulos 149 ¿Cual es la diferencia? ¿Acaso no todos los insectos son iguales?.
        a(href="naruto/naruto-capitulo-150.html").lista-capitulos 150 La batalla por el insecto.
        a(href="naruto/naruto-capitulo-151.html").lista-capitulos 151 ¡Byakugan flameante!
        a(href="naruto/naruto-capitulo-152.html").lista-capitulos 152 La marcha funebre hacia aquellos con vida.
        a(href="naruto/naruto-capitulo-153.html").lista-capitulos 153 ¡Alcanza tu corazón! puños de amor.
        a(href="naruto/naruto-capitulo-154.html").lista-capitulos 154 El enemigo Natural del Byakugan.
        a(href="naruto/naruto-capitulo-155.html").lista-capitulos 155 Se acerca una tormenta.
        a(href="naruto/naruto-capitulo-156.html").lista-capitulos 156 El contra ataque de Raiga.
        a(href="naruto/naruto-capitulo-157.html").lista-capitulos 157 ¡Corre! ¡Esre es el curry de la vida!.
        a(href="naruto/naruto-capitulo-158.html").lista-capitulos 158 El plan de supervivencia, sudor y lagrimas.
        a(href="naruto/naruto-capitulo-159.html").lista-capitulos 159 ¿Enemigo o Aliado? ¡El cazarecompensas!.
        a(href="naruto/naruto-capitulo-160.html").lista-capitulos 160 ¡La batalla en el templo!.
        a(href="naruto/naruto-capitulo-161.html").lista-capitulos 161 Llega un visitante inesperado.
        a(href="naruto/naruto-capitulo-162.html").lista-capitulos 162 El guerrero blanco.
        a(href="naruto/naruto-capitulo-163.html").lista-capitulos 163 El estratega: ¡El plan de Koemi!.
        a(href="naruto/naruto-capitulo-164.html").lista-capitulos 164 La ayuda que llego tarde.
        a(href="naruto/naruto-capitulo-165.html").lista-capitulos 165 La muerte de Naruto.
        a(href="naruto/naruto-capitulo-166.html").lista-capitulos 166 Special (1)
        a(href="naruto/naruto-capitulo-167.html").lista-capitulos 167 Special. (2)
        a(href="naruto/naruto-capitulo-168.html").lista-capitulos 168 Mezclalo. batelo y hiervelo.
        a(href="naruto/naruto-capitulo-169.html").lista-capitulos 169 Memoria, la pagina perdida.
        a(href="naruto/naruto-capitulo-170.html").lista-capitulos 170 La puerta cerrada.
        a(href="naruto/naruto-capitulo-171.html").lista-capitulos 171 Intromisión ¡La trampa preparada!
        a(href="naruto/naruto-capitulo-172.html").lista-capitulos 172 Desesperación, el corazón espinado
        a(href="naruto/naruto-capitulo-173.html").lista-capitulos 173 ¡Batalla en el mar!¡El poder se desata!
        a(href="naruto/naruto-capitulo-174.html").lista-capitulos 174 No puedo creerlo: la forma de ser un ninja famoso
        a(href="naruto/naruto-capitulo-175.html").lista-capitulos 175 ¡Excaba aquí!¡guau, guau!¡encuentra el montón de oro!
        a(href="naruto/naruto-capitulo-176.html").lista-capitulos 176 ¡Corriendo, escondiendose y yendo en zig zag!
        a(href="naruto/naruto-capitulo-177.html").lista-capitulos 177 ¡Oh!¡porfavor, señor cartero!
        a(href="naruto/naruto-capitulo-178.html").lista-capitulos 178 Encuentro en un sitio llamado "Estrella"
        a(href="naruto/naruto-capitulo-179.html").lista-capitulos 179 Natsuhiboshi, Lullaby recordado
        a(href="naruto/naruto-capitulo-180.html").lista-capitulos 180 Tecnica secreta, la compensacion de la extraña tecnica del pavo real
        a(href="naruto/naruto-capitulo-181.html").lista-capitulos 181 Hoshikage: la verdad enterrada
        a(href="naruto/naruto-capitulo-182.html").lista-capitulos 182 Reencuentra, el tiempo perdido
        a(href="naruto/naruto-capitulo-183.html").lista-capitulos 183 La estrella que brilla con todo su esplendor
        a(href="naruto/naruto-capitulo-184.html").lista-capitulos 184 El largo día de Inuzuka Kiba
        a(href="naruto/naruto-capitulo-185.html").lista-capitulos 185 ¡La leyenda de la aldea oculta de Konoha!¡Onbaa de verdad exístio!
        a(href="naruto/naruto-capitulo-186.html").lista-capitulos 186 Shino rie
        a(href="naruto/naruto-capitulo-187.html").lista-capitulos 187 ¡Práctica!¡Centros de movimiento de Konoha!
        a(href="naruto/naruto-capitulo-188.html").lista-capitulos 188 ¡Misterio!¡La persecución de los vendedores ambulantes!
        a(href="naruto/naruto-capitulo-189.html").lista-capitulos 189 ¡Sumergido!¡La inagotable cantidad de armas ninja!
        a(href="naruto/naruto-capitulo-190.html").lista-capitulos 190 ¡El byakugan lo vio!¡El punto ciego de usuario del iman!
        a(href="naruto/naruto-capitulo-191.html").lista-capitulos 191 Sentencia de muerte, nublado, con algunos claros en el cielo
        a(href="naruto/naruto-capitulo-192.html").lista-capitulos 192 ¡El grito de Ino! El paraiso de los rechonchos
        a(href="naruto/naruto-capitulo-193.html").lista-capitulos 193 ¡El desafio de Biba Dojo!¡La explosion de la juventud!
        a(href="naruto/naruto-capitulo-194.html").lista-capitulos 194 ¡Estrafalario! El castillo del fantasma maldito
        a(href="naruto/naruto-capitulo-195.html").lista-capitulos 195 ¡La longevidad de Gai-San!
        a(href="naruto/naruto-capitulo-196.html").lista-capitulos 196 ¡El choque de lagrimas!¡La lucha del profesor contra el estudiante!
        a(href="naruto/naruto-capitulo-197.html").lista-capitulos 197 ¡Un gran problema! La asmblea de los once de Konoha
        a(href="naruto/naruto-capitulo-198.html").lista-capitulos 198 La desesperación de los Anbu! Los recuerdos de Naruto!
        a(href="naruto/naruto-capitulo-199.html").lista-capitulos 199 Fuera de lugar! El objetivo se hace más claro!
        a(href="naruto/naruto-capitulo-200.html").lista-capitulos 200 Servicio activo! El patrocinador definitivo!
        a(href="naruto/naruto-capitulo-201.html").lista-capitulos 201 Trampas masivas! La cuenta regresiva para la destrucción!
        a(href="naruto/naruto-capitulo-202.html").lista-capitulos 202 Sudor y lágrimas entre los ninjas, las 5 mejores batallas!
        a(href="naruto/naruto-capitulo-203.html").lista-capitulos 203 La decisión de Kurenai, el equipo 8 es abandonado
        a(href="naruto/naruto-capitulo-204.html").lista-capitulos 204 Las ocho nubes en la mira, la habilidad sellada
        a(href="naruto/naruto-capitulo-205.html").lista-capitulos 205 La misión ultra-secreta de Kurenai, la promesa del Tercero
        a(href="naruto/naruto-capitulo-206.html").lista-capitulos 206 Genjutsu o realidad? Aquellos que controlan los 5 sentidos
        a(href="naruto/naruto-capitulo-207.html").lista-capitulos 207 La habilidad que es sellada
        a(href="naruto/naruto-capitulo-208.html").lista-capitulos 208 Extraña vasija, el peso de las bellezas de la naturaleza
        a(href="naruto/naruto-capitulo-209.html").lista-capitulos 209 El enemigo ´Shinobazu´
        a(href="naruto/naruto-capitulo-210.html").lista-capitulos 210 El Bosque De La Ofuscación
        a(href="naruto/naruto-capitulo-211.html").lista-capitulos 211 Recuerdos del Fuego
        a(href="naruto/naruto-capitulo-212.html").lista-capitulos 212 El Camino De Cada Uno
        a(href="naruto/naruto-capitulo-213.html").lista-capitulos 213 Los Recuerdos Perdidos
        a(href="naruto/naruto-capitulo-214.html").lista-capitulos 214 Realidad recuperada
        a(href="naruto/naruto-capitulo-215.html").lista-capitulos 215 Borrando el pasado
        a(href="naruto/naruto-capitulo-216.html").lista-capitulos 216 El artesano desaparecido, el Shukaku perseguido
        a(href="naruto/naruto-capitulo-217.html").lista-capitulos 217 Los aliados de la Arena, los ninjas de Konoha
        a(href="naruto/naruto-capitulo-218.html").lista-capitulos 218 El contra-ataque del tigre sellado de agua-arena
        a(href="naruto/naruto-capitulo-219.html").lista-capitulos 219 La Resurrección Del Arma Definitiva
        a(href="naruto/naruto-capitulo-220.html").lista-capitulos 220 La Partida
