
.lista-contenedor.largo
    .lista.distancia 
        a(href="yugioh/yugioh-capitulo-001.html").lista-capitulos  1 El Corazón de las Cartas
        a(href="yugioh/yugioh-capitulo-002.html").lista-capitulos  2 La Suerte está Echada
        a(href="yugioh/yugioh-capitulo-003.html").lista-capitulos  3 Viaje al Reino de los Duelos
        a(href="yugioh/yugioh-capitulo-004.html").lista-capitulos  4 En el Nido de las Avispas
        a(href="yugioh/yugioh-capitulo-005.html").lista-capitulos  5 La Gran Polilla
        a(href="yugioh/yugioh-capitulo-006.html").lista-capitulos  6 El Primer Duelo
        a(href="yugioh/yugioh-capitulo-007.html").lista-capitulos  7 Ataque desde las Profundidades
        a(href="yugioh/yugioh-capitulo-008.html").lista-capitulos  8 Todo es Relativo
        a(href="yugioh/yugioh-capitulo-009.html").lista-capitulos  9 Duelo contra un Fantasma
        a(href="yugioh/yugioh-capitulo-010.html").lista-capitulos  10 Olvida al Fantasma
        a(href="yugioh/yugioh-capitulo-011.html").lista-capitulos  11 El Maniático del Duelo
        a(href="yugioh/yugioh-capitulo-012.html").lista-capitulos  12 La Lucha con Ojos Rojos
        a(href="yugioh/yugioh-capitulo-013.html").lista-capitulos  13 Espíritu Malvado de la Sortija
        a(href="yugioh/yugioh-capitulo-014.html").lista-capitulos  14 La Luz al Final del Túnel
        a(href="yugioh/yugioh-capitulo-015.html").lista-capitulos  15 Lo Intimidó y lo Venció
        a(href="yugioh/yugioh-capitulo-016.html").lista-capitulos  16 Las Cicatrices de la Derrota
        a(href="yugioh/yugioh-capitulo-017.html").lista-capitulos  17 Arena de las Almas Perdidas, Parte 1
        a(href="yugioh/yugioh-capitulo-018.html").lista-capitulos  18 Arena de las Almas Perdidas, Parte 2
        a(href="yugioh/yugioh-capitulo-019.html").lista-capitulos  19 Duelo de Doble Problema, Parte 1
        a(href="yugioh/yugioh-capitulo-020.html").lista-capitulos  20 Duelo de Doble Problema, Parte 2
        a(href="yugioh/yugioh-capitulo-021.html").lista-capitulos  21 Duelo de Doble Problema, Parte 3
        a(href="yugioh/yugioh-capitulo-022.html").lista-capitulos  22 El Enfrentamiento, Parte 1
        a(href="yugioh/yugioh-capitulo-023.html").lista-capitulos  23 El Enfrentamiento, Parte 2
        a(href="yugioh/yugioh-capitulo-024.html").lista-capitulos  24 El Enfrentamiento, Parte 3
        a(href="yugioh/yugioh-capitulo-025.html").lista-capitulos  25 Amistad Duradera
        a(href="yugioh/yugioh-capitulo-026.html").lista-capitulos  26 El Campeón contra el Creador, Parte 1
        a(href="yugioh/yugioh-capitulo-027.html").lista-capitulos  27 El Campeón contra el Creador, Parte 2
        a(href="yugioh/yugioh-capitulo-028.html").lista-capitulos  28 La Noche Anterior
        a(href="yugioh/yugioh-capitulo-029.html").lista-capitulos  29 Identidad Dual, Parte 1
        a(href="yugioh/yugioh-capitulo-030.html").lista-capitulos  30 Identidad Dual, Parte 2
        a(href="yugioh/yugioh-capitulo-031.html").lista-capitulos  31 La Maquinación de Keith, Parte 1
        a(href="yugioh/yugioh-capitulo-032.html").lista-capitulos  32 La Maquinación de Keith, Parte 2
        a(href="yugioh/yugioh-capitulo-033.html").lista-capitulos  33 Mejores Amigos y Mejores Duelistas, Parte 1
        a(href="yugioh/yugioh-capitulo-034.html").lista-capitulos  34 Mejores Amigos y Mejores Duelistas, Parte 2
        a(href="yugioh/yugioh-capitulo-035.html").lista-capitulos  35 Yugi contra Pegasus: El Duelo del Milenio, Parte 1
        a(href="yugioh/yugioh-capitulo-036.html").lista-capitulos  36 Yugi contra Pegasus: El Duelo del Milenio, Parte 2
        a(href="yugioh/yugioh-capitulo-037.html").lista-capitulos  37 Yugi contra Pegasus: El Duelo del Milenio, Parte 3
        a(href="yugioh/yugioh-capitulo-038.html").lista-capitulos  38 Yugi contra Pegasus: El Duelo del Milenio, Parte 4
        a(href="yugioh/yugioh-capitulo-039.html").lista-capitulos  39 Yugi contra Pegasus: El Duelo del Milenio, Parte 5
        a(href="yugioh/yugioh-capitulo-040.html").lista-capitulos  40 Los Resultados
        a(href="yugioh/yugioh-capitulo-041.html").lista-capitulos  41 La Ira de Rebecca
        a(href="yugioh/yugioh-capitulo-042.html").lista-capitulos  42 Lazos de Amistad
        a(href="yugioh/yugioh-capitulo-043.html").lista-capitulos  43 Héroes Legendarios, Parte 1
        a(href="yugioh/yugioh-capitulo-044.html").lista-capitulos  44 Héroes Legendarios, Parte 2
        a(href="yugioh/yugioh-capitulo-045.html").lista-capitulos  45 Héroes Legendarios, Parte 3
        a(href="yugioh/yugioh-capitulo-046.html").lista-capitulos  46 Juego de Dados de Monstruos, Parte 1
        a(href="yugioh/yugioh-capitulo-047.html").lista-capitulos  47 Juego de Dados de Monstruos, Parte 2
        a(href="yugioh/yugioh-capitulo-048.html").lista-capitulos  48 Juego de Dados de Monstruos, Parte 3
        a(href="yugioh/yugioh-capitulo-049.html").lista-capitulos  49 Juego de Dados de Monstruos, Parte 4
        a(href="yugioh/yugioh-capitulo-050.html").lista-capitulos  50 El Duelista Misterioso, Parte 1
        a(href="yugioh/yugioh-capitulo-051.html").lista-capitulos  51 El Duelista Misterioso, Parte 2
        a(href="yugioh/yugioh-capitulo-052.html").lista-capitulos  52 El Pasado es el Presente
        a(href="yugioh/yugioh-capitulo-053.html").lista-capitulos  53 Dar La Cara
        a(href="yugioh/yugioh-capitulo-054.html").lista-capitulos  54 Obelisco El Atormentador
        a(href="yugioh/yugioh-capitulo-055.html").lista-capitulos  55 Acosado Por los Cazadores Raros
        a(href="yugioh/yugioh-capitulo-056.html").lista-capitulos  56 Yugi contra el Cazador Raro, Parte 1
        a(href="yugioh/yugioh-capitulo-057.html").lista-capitulos  57 Yugi contra el Cazador Raro, Parte 2
        a(href="yugioh/yugioh-capitulo-058.html").lista-capitulos  58 El Duelista de P.E.S., Parte 1
        a(href="yugioh/yugioh-capitulo-059.html").lista-capitulos  59 El Duelista de P.E.S., Parte 2
        a(href="yugioh/yugioh-capitulo-060.html").lista-capitulos  60 El Maestro de los Magos, Parte 1
        a(href="yugioh/yugioh-capitulo-061.html").lista-capitulos  61 El Maestro de los Magos, Parte 2
        a(href="yugioh/yugioh-capitulo-062.html").lista-capitulos  62 El Maestro de los Magos, Parte 3
        a(href="yugioh/yugioh-capitulo-063.html").lista-capitulos  63 Jugando con un Parásito, Parte 1
        a(href="yugioh/yugioh-capitulo-064.html").lista-capitulos  64 Jugando con un Parásito, Parte 2
        a(href="yugioh/yugioh-capitulo-065.html").lista-capitulos  65 Control de un Mimo, Parte 1
        a(href="yugioh/yugioh-capitulo-066.html").lista-capitulos  66 Control de un Mimo, Parte 2
        a(href="yugioh/yugioh-capitulo-067.html").lista-capitulos  67 Control de un Mimo, Parte 3
        a(href="yugioh/yugioh-capitulo-068.html").lista-capitulos  68 El Pescador Legendario, Parte 1
        a(href="yugioh/yugioh-capitulo-069.html").lista-capitulos  69 El Pescador Legendario, Parte 2
        a(href="yugioh/yugioh-capitulo-070.html").lista-capitulos  70 Doble Duelo, Parte 1: Yugi y Kaiba contra Lumis y Umbra
        a(href="yugioh/yugioh-capitulo-071.html").lista-capitulos  71 Doble Duelo, Parte 2: Yugi y Kaiba contra Lumis y Umbra
        a(href="yugioh/yugioh-capitulo-072.html").lista-capitulos  72 Doble Duelo, Parte 3: Yugi y Kaiba contra Lumis y Umbra
        a(href="yugioh/yugioh-capitulo-073.html").lista-capitulos  73 Doble Duelo, Parte 4: Yugi y Kaiba contra Lumis y Umbra
        a(href="yugioh/yugioh-capitulo-074.html").lista-capitulos  74 El Rescate
        a(href="yugioh/yugioh-capitulo-075.html").lista-capitulos  75 Amigos hasta el Fin, Parte 1: Yugi contra Joey
        a(href="yugioh/yugioh-capitulo-076.html").lista-capitulos  76 Amigos hasta el Fin, Parte 2: Yugi contra Joey
        a(href="yugioh/yugioh-capitulo-077.html").lista-capitulos  77 Amigos hasta el Fin, Parte 3: Yugi contra Joey
        a(href="yugioh/yugioh-capitulo-078.html").lista-capitulos  78 Amigos hasta el Fin, Parte 4: Yugi contra Joey
        a(href="yugioh/yugioh-capitulo-079.html").lista-capitulos  79 La Sombra de un Duelo
        a(href="yugioh/yugioh-capitulo-080.html").lista-capitulos  80 Luces, Cámara, Duelo
        a(href="yugioh/yugioh-capitulo-081.html").lista-capitulos  81 Que Comience la Final
        a(href="yugioh/yugioh-capitulo-082.html").lista-capitulos  82 La Revelación del Espíritu Oscuro, Parte 1: Yugi contra Bakura
        a(href="yugioh/yugioh-capitulo-083.html").lista-capitulos  83 La Revelación del Espíritu Oscuro, Parte 2: Yugi contra Bakura
        a(href="yugioh/yugioh-capitulo-084.html").lista-capitulos  84 La Revelación del Espíritu Oscuro, Parte 3: Yugi contra Bakura
        a(href="yugioh/yugioh-capitulo-085.html").lista-capitulos  85 La Furia de los Dioses Egipcios
        a(href="yugioh/yugioh-capitulo-086.html").lista-capitulos  86 El Despertar del Mal, Parte 1: Joey contra Odion
        a(href="yugioh/yugioh-capitulo-087.html").lista-capitulos  87 El Despertar del Mal, Parte 2: Joey contra Odion
        a(href="yugioh/yugioh-capitulo-088.html").lista-capitulos  88 El Despertar del Mal, Parte 3: Joey contra Odion
        a(href="yugioh/yugioh-capitulo-089.html").lista-capitulos  89 El Despertar del Mal, Parte 4: Joey contra Odion
        a(href="yugioh/yugioh-capitulo-090.html").lista-capitulos  90 Juego Mental, Parte 1: Mai contra Marik
        a(href="yugioh/yugioh-capitulo-091.html").lista-capitulos  91 Juego Mental, Parte 2: Mai contra Marik
        a(href="yugioh/yugioh-capitulo-092.html").lista-capitulos  92 Juego Mental, Parte 3: Mai contra Marik
        a(href="yugioh/yugioh-capitulo-093.html").lista-capitulos  93 Un Duelo con el Destino, Parte 1: Kaiba contra Ishizu
        a(href="yugioh/yugioh-capitulo-094.html").lista-capitulos  94 Un Duelo con el Destino, Parte 2: Kaiba contra Ishizu
        a(href="yugioh/yugioh-capitulo-095.html").lista-capitulos  95 El Secreto del Guardián de la Tumba
        a(href="yugioh/yugioh-capitulo-096.html").lista-capitulos  96 El Espectáculo en las Sombras, Parte 1: Marik contra Bakura
        a(href="yugioh/yugioh-capitulo-097.html").lista-capitulos  97 El Espectáculo en las Sombras, Parte 2: Marik contra Bakura
        a(href="yugioh/yugioh-capitulo-098.html").lista-capitulos  98 Una Pesadilla Virtual
        a(href="yugioh/yugioh-capitulo-099.html").lista-capitulos  99 Aislados en el Ciberespacio, Parte 1
        a(href="yugioh/yugioh-capitulo-010.html").lista-capitulos  100 Aislados en el Ciberespacio, Parte 2
        a(href="yugioh/yugioh-capitulo-101.html").lista-capitulos  101 Aislados en el Ciberespacio, Parte 3
        a(href="yugioh/yugioh-capitulo-102.html").lista-capitulos  102 Juego Congelado, Parte 1
        a(href="yugioh/yugioh-capitulo-103.html").lista-capitulos  103 Juego Congelado, Parte 2
        a(href="yugioh/yugioh-capitulo-104.html").lista-capitulos  104 El Juicio de Joey, Parte 1
        a(href="yugioh/yugioh-capitulo-105.html").lista-capitulos  105 El Juicio de Joey, Parte 2
        a(href="yugioh/yugioh-capitulo-106.html").lista-capitulos  106 Invasión de las Máquinas, Parte 1
        a(href="yugioh/yugioh-capitulo-107.html").lista-capitulos  107 Invasión de las Máquinas, Parte 2
        a(href="yugioh/yugioh-capitulo-108.html").lista-capitulos  108 Solución a la Puntuación, Parte 1
        a(href="yugioh/yugioh-capitulo-109.html").lista-capitulos  109 Solución a la Puntuación, Parte 2
        a(href="yugioh/yugioh-capitulo-110.html").lista-capitulos  110 El Secreto de Noah
        a(href="yugioh/yugioh-capitulo-111.html").lista-capitulos  111 Fusión de los Cinco Grandes, Parte 1
        a(href="yugioh/yugioh-capitulo-112.html").lista-capitulos  112 Fusión de los Cinco Grandes, Parte 2
        a(href="yugioh/yugioh-capitulo-113.html").lista-capitulos  113 Fusión de los Cinco Grandes, Parte 3
        a(href="yugioh/yugioh-capitulo-114.html").lista-capitulos  114 Duelo de Hermanos, Parte 1
        a(href="yugioh/yugioh-capitulo-115.html").lista-capitulos  115 Duelo de Hermanos, Parte 2
        a(href="yugioh/yugioh-capitulo-116.html").lista-capitulos  116 Duelo de Hermanos, Parte 3
        a(href="yugioh/yugioh-capitulo-117.html").lista-capitulos  117 Pelea por la Amistad, Yugi contra Noah, Parte 1
        a(href="yugioh/yugioh-capitulo-118.html").lista-capitulos  118 Pelea por la Amistad, Yugi contra Noah, Parte 2
        a(href="yugioh/yugioh-capitulo-119.html").lista-capitulos  119 Reunión Familiar
        a(href="yugioh/yugioh-capitulo-120.html").lista-capitulos  120 Enterrando el Pasado, Parte 1
        a(href="yugioh/yugioh-capitulo-121.html").lista-capitulos  121 Enterrando el Pasado, Parte 2
        a(href="yugioh/yugioh-capitulo-122.html").lista-capitulos  122 Regreso a Ciudad Batallas, Parte 1
        a(href="yugioh/yugioh-capitulo-123.html").lista-capitulos  123 Regreso a Ciudad Batallas, Parte 2
        a(href="yugioh/yugioh-capitulo-124.html").lista-capitulos  124 Regreso a Ciudad Batallas, Parte 3
        a(href="yugioh/yugioh-capitulo-125.html").lista-capitulos  125 La Oscuridad Regresa, Parte 1
        a(href="yugioh/yugioh-capitulo-126.html").lista-capitulos  126 La Oscuridad Regresa, Parte 2
        a(href="yugioh/yugioh-capitulo-127.html").lista-capitulos  127 La Oscuridad Regresa, Parte 3
        a(href="yugioh/yugioh-capitulo-128.html").lista-capitulos  128 La Oscuridad Regresa, Parte 4
        a(href="yugioh/yugioh-capitulo-129.html").lista-capitulos  129 Batalla en el Coliseo, Parte 1
        a(href="yugioh/yugioh-capitulo-130.html").lista-capitulos  130 Batalla en el Coliseo, Parte 2
        a(href="yugioh/yugioh-capitulo-131.html").lista-capitulos  131 Batalla en el Coliseo, Parte 3
        a(href="yugioh/yugioh-capitulo-132.html").lista-capitulos  132 Batalla en el Coliseo, Parte 4
        a(href="yugioh/yugioh-capitulo-133.html").lista-capitulos  133 Batalla en el Coliseo, Parte 5
        a(href="yugioh/yugioh-capitulo-134.html").lista-capitulos  134 Batalla en el Coliseo, Parte 6
        a(href="yugioh/yugioh-capitulo-135.html").lista-capitulos  135 La Batalla por el Bronce, Parte 1
        a(href="yugioh/yugioh-capitulo-136.html").lista-capitulos  136 La Batalla por el Bronce, Parte 2
        a(href="yugioh/yugioh-capitulo-137.html").lista-capitulos  137 La Batalla por el Bronce, Parte 3
        a(href="yugioh/yugioh-capitulo-138.html").lista-capitulos  138 El Duelo del Destino, Parte 1
        a(href="yugioh/yugioh-capitulo-139.html").lista-capitulos  139 El Duelo del Destino, Parte 2
        a(href="yugioh/yugioh-capitulo-140.html").lista-capitulos  140 El Duelo del Destino, Parte 3
        a(href="yugioh/yugioh-capitulo-141.html").lista-capitulos  141 El Duelo del Destino, Parte 4
        a(href="yugioh/yugioh-capitulo-142.html").lista-capitulos  142 El Duelo del Destino, Parte 5
        a(href="yugioh/yugioh-capitulo-143.html").lista-capitulos  143 Una Aventura Más
        a(href="yugioh/yugioh-capitulo-144.html").lista-capitulos  144 Los Recuerdos del Torneo
        a(href="yugioh/yugioh-capitulo-145.html").lista-capitulos  145 Una Nueva Amenaza, Parte 1
        a(href="yugioh/yugioh-capitulo-146.html").lista-capitulos  146 Una Nueva Amenaza, Parte 2
        a(href="yugioh/yugioh-capitulo-147.html").lista-capitulos  147 La Leyenda de los Dragones
        a(href="yugioh/yugioh-capitulo-148.html").lista-capitulos  148 El Creador Regresa
        a(href="yugioh/yugioh-capitulo-149.html").lista-capitulos  149 Repitiendo la Historia, Parte 1
        a(href="yugioh/yugioh-capitulo-150.html").lista-capitulos  150 Repitiendo la Historia, Parte 2
        a(href="yugioh/yugioh-capitulo-151.html").lista-capitulos  151 Un Enemigo Inesperado
        a(href="yugioh/yugioh-capitulo-152.html").lista-capitulos  152 Mi Enemiga Valentine, Parte 1
        a(href="yugioh/yugioh-capitulo-153.html").lista-capitulos  153 Mi Enemiga Valentine, Parte 2
        a(href="yugioh/yugioh-capitulo-154.html").lista-capitulos  154 Mi Enemiga Valentine, Parte 3
        a(href="yugioh/yugioh-capitulo-155.html").lista-capitulos  155 El Desafío
        a(href="yugioh/yugioh-capitulo-156.html").lista-capitulos  156 El Destino del Faraón, Parte 1
        a(href="yugioh/yugioh-capitulo-157.html").lista-capitulos  157 El Destino del Faraón, Parte 2
        a(href="yugioh/yugioh-capitulo-158.html").lista-capitulos  158 El Destino del Faraón, Parte 3
        a(href="yugioh/yugioh-capitulo-159.html").lista-capitulos  159 Pacto con el Oricalcos
        a(href="yugioh/yugioh-capitulo-160.html").lista-capitulos  160 Por el Camino Equivocado, Parte 1
        a(href="yugioh/yugioh-capitulo-161.html").lista-capitulos  161 Por el Camino Equivocado, Parte 2
        a(href="yugioh/yugioh-capitulo-162.html").lista-capitulos  162 Por el Camino Equivocado, Parte 3
        a(href="yugioh/yugioh-capitulo-163.html").lista-capitulos  163 Autodestrucción
        a(href="yugioh/yugioh-capitulo-164.html").lista-capitulos  164 Resucitando el Pasado
        a(href="yugioh/yugioh-capitulo-165.html").lista-capitulos  165 Baraja Metálica
        a(href="yugioh/yugioh-capitulo-166.html").lista-capitulos  166 Un Vuelo de Terror, Parte 1
        a(href="yugioh/yugioh-capitulo-167.html").lista-capitulos  167 Un Vuelo de Terror, Parte 2
        a(href="yugioh/yugioh-capitulo-168.html").lista-capitulos  168 El Paraíso Encontrado
        a(href="yugioh/yugioh-capitulo-169.html").lista-capitulos  169 Luchando por una Amiga, Parte 1
        a(href="yugioh/yugioh-capitulo-170.html").lista-capitulos  170 Luchando por una Amiga, Parte 2
        a(href="yugioh/yugioh-capitulo-171.html").lista-capitulos  171 Luchando por una Amiga, Parte 3
        a(href="yugioh/yugioh-capitulo-172.html").lista-capitulos  172 Luchando por una Amiga, Parte 4
        a(href="yugioh/yugioh-capitulo-173.html").lista-capitulos  173 Luchando por una Amiga, Parte 5
        a(href="yugioh/yugioh-capitulo-174.html").lista-capitulos  174 Duelo con un Guardián, Parte 1
        a(href="yugioh/yugioh-capitulo-175.html").lista-capitulos  175 Duelo con un Guardián, Parte 2
        a(href="yugioh/yugioh-capitulo-176.html").lista-capitulos  176 Duelo con un Guardián, Parte 3
        a(href="yugioh/yugioh-capitulo-177.html").lista-capitulos  177 Un Duelo con Dartz, Parte 1
        a(href="yugioh/yugioh-capitulo-178.html").lista-capitulos  178 Un Duelo con Dartz, Parte 2
        a(href="yugioh/yugioh-capitulo-179.html").lista-capitulos  179 Un Duelo con Dartz, Parte 3
        a(href="yugioh/yugioh-capitulo-180.html").lista-capitulos  180 Un Duelo con Dartz, Parte 4
        a(href="yugioh/yugioh-capitulo-181.html").lista-capitulos  181 Un Duelo con Dartz, Parte 5
        a(href="yugioh/yugioh-capitulo-182.html").lista-capitulos  182 Un Duelo con Dartz, Parte 6
        a(href="yugioh/yugioh-capitulo-183.html").lista-capitulos  183 El Despertar de la Gran Bestia, Parte 1
        a(href="yugioh/yugioh-capitulo-184.html").lista-capitulos  184 El Despertar de la Gran Bestia, Parte 2
        a(href="yugioh/yugioh-capitulo-185.html").lista-capitulos  185 Invitado no Deseado, Parte 1
        a(href="yugioh/yugioh-capitulo-186.html").lista-capitulos  186 Invitado no Deseado, Parte 2
        a(href="yugioh/yugioh-capitulo-187.html").lista-capitulos  187 Que los Duelos Comiencen, Parte 1
        a(href="yugioh/yugioh-capitulo-188.html").lista-capitulos  188 Que los Duelos Comiencen, Parte 2
        a(href="yugioh/yugioh-capitulo-189.html").lista-capitulos  189 Juego de Niños
        a(href="yugioh/yugioh-capitulo-190.html").lista-capitulos  190 Bajo las Llamas, Parte 1
        a(href="yugioh/yugioh-capitulo-191.html").lista-capitulos  191 Bajo las Llamas, Parte 2
        a(href="yugioh/yugioh-capitulo-192.html").lista-capitulos  192 Peleas en Ciudad Miniatura, Parte 1
        a(href="yugioh/yugioh-capitulo-193.html").lista-capitulos  193 Peleas en Ciudad Miniatura, Parte 2
        a(href="yugioh/yugioh-capitulo-194.html").lista-capitulos  194 Un Paso Adelante, Parte 1
        a(href="yugioh/yugioh-capitulo-195.html").lista-capitulos  195 Un Paso Adelante, Parte 2
        a(href="yugioh/yugioh-capitulo-196.html").lista-capitulos  196 Secretos Siniestros, Parte 1
        a(href="yugioh/yugioh-capitulo-197.html").lista-capitulos  197 Secretos Siniestros, Parte 2
        a(href="yugioh/yugioh-capitulo-198.html").lista-capitulos  198 Secretos Siniestros, Parte 3
        a(href="yugioh/yugioh-capitulo-199.html").lista-capitulos  199 La Tumba del Faraón Anónimo
        a(href="yugioh/yugioh-capitulo-200.html").lista-capitulos  200 Espíritu que Despierta
        a(href="yugioh/yugioh-capitulo-201.html").lista-capitulos  201 Memorias de un Faraón
        a(href="yugioh/yugioh-capitulo-202.html").lista-capitulos  202 El Intruso, Parte 1
        a(href="yugioh/yugioh-capitulo-203.html").lista-capitulos  203 El Intruso, Parte 2
        a(href="yugioh/yugioh-capitulo-204.html").lista-capitulos  204 Los Trucos de un Mago
        a(href="yugioh/yugioh-capitulo-205.html").lista-capitulos  205 El Nacimiento de los Ojos Azules
        a(href="yugioh/yugioh-capitulo-206.html").lista-capitulos  206 La Aldea de las Almas Perdidas
        a(href="yugioh/yugioh-capitulo-207.html").lista-capitulos  207 Viaje en el Tiempo
        a(href="yugioh/yugioh-capitulo-208.html").lista-capitulos  208 En Busca de un Rey
        a(href="yugioh/yugioh-capitulo-209.html").lista-capitulos  209 Aldea de la Venganza, Parte 1
        a(href="yugioh/yugioh-capitulo-210.html").lista-capitulos  210 Aldea de la Venganza, Parte 2
        a(href="yugioh/yugioh-capitulo-211.html").lista-capitulos  211 Aldea de la Venganza, Parte 3
        a(href="yugioh/yugioh-capitulo-212.html").lista-capitulos  212 Aldea de la Venganza, Parte 4
        a(href="yugioh/yugioh-capitulo-213.html").lista-capitulos  213 Aldea de la Venganza, Parte 5
        a(href="yugioh/yugioh-capitulo-214.html").lista-capitulos  214 El Nombre del Juego
        a(href="yugioh/yugioh-capitulo-215.html").lista-capitulos  215 El Oscuro, Parte 1
        a(href="yugioh/yugioh-capitulo-216.html").lista-capitulos  216 El Oscuro, Parte 2
        a(href="yugioh/yugioh-capitulo-217.html").lista-capitulos  217 El Oscuro, Parte 3
        a(href="yugioh/yugioh-capitulo-218.html").lista-capitulos  218 El Oscuro, Parte 4
        a(href="yugioh/yugioh-capitulo-219.html").lista-capitulos  219 En el Nombre del Faraón
        a(href="yugioh/yugioh-capitulo-220.html").lista-capitulos  220 El Último Viaje
        a(href="yugioh/yugioh-capitulo-221.html").lista-capitulos  221 El Duelo Final, Parte 1
        a(href="yugioh/yugioh-capitulo-222.html").lista-capitulos  222 El Duelo Final, Parte 2
        a(href="yugioh/yugioh-capitulo-223.html").lista-capitulos  223 El Duelo Final, Parte 3
        a(href="yugioh/yugioh-capitulo-224.html").lista-capitulos  224 El Duelo Final, Parte 4