header.largo
    .contenedor-menu.distancia
        a.logo(href="http://animesenespañol.com/")
            h1 Animes en español 
        i.icon-menu#btn-menu
        ul.menu#nav
            li.submenu: a(href="http://animesenespañol.com/") Inicio
            li.submenu: a(href="animes.html") Animes
            li.submenu: a(href="peliculas.html") Pelìculas
            li.submenu: a(href="") Comunidad
            
            
            
            