meta(name="author",content="leningonzales.com")
meta(name="owner", content="Lenin Gonzales")
meta(name="keywords", content="animacion japonesa,animeflv,animelatino,animenfo,animes,animes en español,naruto shippden")
meta(name="description", content="Mira todo acerca de Animes en español, anime, anime tv, anime website, animes, ver animes online, todo anime, anime 2016")
meta(name="twitter:url", content="https://leningonzales.com/")
meta(property="https://www.facebook.com/LeninGonzalesCh", content="https://www.facebook.com/LeninGonzalesCh/")


meta(property="og:url",content="http://animesenespañol.com")
meta(property="og:image:url", content="http://xn--animesenespaol-1nb.com/ogp-principal.jpg" )
meta(property="og:title", content="Animes en español - Mira tus animes en HD")
meta(property="og:type", content="Animes en español - Mira tus animes en HD")
meta(property="og:site_name", content="website")
meta(property="og:description", content="La mejor pagina para ver animes de todo tipo, sin anuncios molestos, episodios de calidad")
