doctype html
html
    head
        title Animes En Español
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="css/menu.css")
        link(rel="stylesheet", href="css/estilos.css")
        link(rel="stylesheet", href="css/footer.css")
        link(rel="stylesheet", href="css/serie-naruto.css")
        
        link(rel="stylesheet",href="https://file.myfontastic.com/whw7pA3v7r2cTPtVDYrKxS/icons.css")                
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:400,800")
        
        script(src="https://code.jquery.com/jquery-1.11.3.min.js")
        
    include menu
    body 
        .slider-serie
            img(src="imagenes/naruto/portada-general.jpg")
        h2.titulo Sinopsis
        .informacion-contenedor.largo
            .informacion.distancia
                .informacion-imagen
                    img(src="imagenes/naruto/portada.jpg")
                .informacion-texto
                    p Naruto Uzumaki es un ninja adolescente que tiene encerrado en su interior al Zorro Demonio de Nueve Colas. Doce años antes del inicio de la serie, el Nueve Colas atacó a Konohagakure, matando a muchas personas. Como consecuencia, el líder de la aldea (el Cuarto Hokage, Minato Namikaze) sacrificó su vida utilizando el Sello Consumidor del Demonio de la Muerte para sellarlo dentro de Naruto cuando era un recién nacido, con lo que esperaba detener la masacre. Por ello, Naruto fue víctima de maltratos por quienes lo consideraban como el propio Kyūbi. A manera de solución, el Tercer Hokage (quien tuvo que reasumir el mando luego del sacrificio del Cuarto Hokage) publicó un decreto donde prohibía a cualquiera la mención sobre el ataque del Kyūbi, y quien lo hiciera sería severamente castigado. Doce años más tarde, Naruto se gradúa de la Academia Ninja usando su Jutsu: Multiclones de Sombras, proveniente del pergamino prohibido de la aldea, el cual había robado tras ser engañado por el ninja renegado Mizuki. Durante el encuentro entre Iruka, Mizuki y Naruto, este último se entera de que él era el recipiente contenedor del Kyūbi, y que había alguien que lo estimaba y lo reconocía moralmente como una persona, el cual era Iruka.
        h2.titulo Tags 
        .tags-general.largo
            .tags.distancia
                h2 Naruto
                h2 Naruto Online
                h2 Naruto Capitulos
                h2 Naruto y Hinata
                h2 Naruto capitulo 1
                h2 Naruto anime
                h2 Naruto audio latino
                h2 Naruto arena
        h2.titulo Naruto En Español
        include lista-naruto
        script(src="js/menu.js")
    include footer