.banner-contenedor
    .banner
        .banner-informacion
            img(src="imagenes/slider/portada-campeones.jpg")
            .banner-texto
                h2 Super Campeones
                p   Años después de las aventuras de Yugi y compañía, el juego de cartas se a vuelto tan popular que han creado instituciones dedicadas al arte del duelo alrededor del mundo. Judai Yuki, un joven amante de los juegos se acaba de unir a una de las más prestigiosas de estas instituciones.
                a(href="#") Ver Serie
        .banner-informacion
            img(src="imagenes/slider/portada-naruto.jpg")
            .banner-texto
                h2 Super Campeones
                p   Años después de las aventuras de Yugi y compañía, el juego de cartas se a vuelto tan popular que han creado instituciones dedicadas al arte del duelo alrededor del mundo. Judai Yuki, un joven amante de los juegos se acaba de unir a una de las más prestigiosas de estas instituciones.
                a(href="#") Ver Serie
        .banner-informacion
            img(src="imagenes/slider/portada-shippuden.jpg")
            .banner-texto
                h2 Super Campeones
                p   Años después de las aventuras de Yugi y compañía, el juego de cartas se a vuelto tan popular que han creado instituciones dedicadas al arte del duelo alrededor del mundo. Judai Yuki, un joven amante de los juegos se acaba de unir a una de las más prestigiosas de estas instituciones.
                a(href="#") Ver Serie
        .banner-informacion
            img(src="imagenes/slider/portada-yugioh.jpg")
            .banner-texto
                h2 Super Campeones
                p   Años después de las aventuras de Yugi y compañía, el juego de cartas se a vuelto tan popular que han creado instituciones dedicadas al arte del duelo alrededor del mundo. Judai Yuki, un joven amante de los juegos se acaba de unir a una de las más prestigiosas de estas instituciones.
                a(href="#") Ver Serie