.banner-contenedor
    .banner
        .banner-informacion
            img(src="imagenes/slider/portada-campeones.jpg")
            .banner-texto
                h2 Super Campeones
                p  En Los SuperCampeones conocemos la historia y larga travesía de Oliver Atom (Siendo su nombre original Tsubasa Ozora), un joven japonés apasionado por el futbol el cual cuenta con una gran técnica, pasión y amor por este deporte. A lo largo de 128 episodios veremos cómo Oliver bajo las enseñanzas del gran jugador brasileño Roberto Zedhino quien en su primera etapa como jugador le enseño que el futbol no era solo un deporte sino un estilo de vida.
                a(href="serie-super-campeones.html") Ver Serie
        .banner-informacion
            img(src="imagenes/slider/portada-naruto.jpg")
            .banner-texto
                h2 Naruto
                p  Naruto Uzumaki es un ninja adolescente que tiene encerrado en su interior al Zorro Demonio de Nueve Colas. Doce años antes del inicio de la serie, el Nueve Colas atacó a Konohagakure, matando a muchas personas. Como consecuencia, el líder de la aldea (el Cuarto Hokage, Minato Namikaze) sacrificó su vida utilizando el Sello Consumidor del Demonio de la Muerte para sellarlo dentro de Naruto cuando era un recién nacido.
                a(href="serie-naruto.html") Ver Serie
        .banner-informacion
            img(src="imagenes/slider/portada-shippuden.jpg")
            .banner-texto
                h2 Naruto Shippuden
                p   La acción empieza tras los dos años y medio que el protagonista, Naruto Uzumaki, ha pasado entrenando con su maestro Jiraiya. En ella reaparecen todos los personajes de la anterior serie pero con más experiencia y fuerza. Además, la Organización Akatsuki entra definitivamente en acción, tras su breve aparición en la parte anterior, y se revelan sus objetivos.
                a(href="serie-naruto-shippuden.html") Ver Serie
        .banner-informacion
            img(src="imagenes/slider/portada-yugioh.jpg")
            .banner-texto
                h2 YU-GI-OH
                p  YuGiOh está protagoniza por Yugi, un chico normal de instituto que un día recibe como regalo de su abuelo un extraño rompecabezas. Un rompecabezas que a pesar de su dificultad, Yugi logra montar, creando así una pequeña pirámide que desde entonces, lleva colgada a su cuello. Pero esa pirámide alberga algo en su interior mucho más importante que un simple rompecabezas, y es que se trata de un rompecabezas milenario, perteneciente a los antiguos faraones egipcios
                a(href="serie-yugioh.htm") Ver Serie 